NODE_ENV=development
PORT=3000

# Default Rate Limiter
RATE_LIMIT_DEFAULT_TTL_MS=60000
RATE_LIMIT_DEFAULT_LIMIT=120

# Prisma
DATABASE_URL="mysql://username:password@localhost:3306/database_name"
DATABASE_USER="username"
DATABASE_PASSWORD="password"
DATABASE_NAME="database_name"
DATABASE_HOST="localhost"
DATABASE_PORT=3306

# JWT Authentication
JWT_ACCESS_SECRET="jwt-access-token-secret"
JWT_REFRESH_SECRET="jwt-refresh-token-secret"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"
